{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "importOrder": [
    "^@hookform/(.*)$",
    "^@bankiru/(.*)$",
    "^@document/(.*)$",
    "^@templates/(.*)$",
    "^@api/(.*)$",
    "^@src/(.*)$",
    "^@store/(.*)$",
    "^@contexts/(.*)$",
    "^@routing/(.*)$",
    "^@typing/(.*)$",
    "^@utilities/(.*)$",
    "^@assets/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
