.item {
  display: grid;
  grid-template: 1fr / 1fr;
  position: relative;
}

.line-1 {
  display: grid;
  grid-template: 1fr / auto 1fr auto;
}

.logo {
  height: 145px;
  width: 145px;
  margin-top: -47px;
  z-index: 1;
}

.line-2 {
  padding: 20px 24px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #051938;
}
