.item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  justify-content: center;
  background: #F1F2F6;
  /* grid-auto-flow: column; */
}

.info {
  /* width: min-content; */
  /* text-align: center; */
  max-width: 433px;
}

/* .line-1 { */
/*   display: grid; */
/*   grid-template: 1fr / repeat(3, auto); */
/*   justify-content: center; */
/*   /* justify-items: center; */
/* */
/* } */
